# Server
PORT=3002

# Google Sheets Configuration
SHEET_ID=1oZStxGQKDSs_wCZw-gyjT5O86umWRhKxXvqNNn6UcfI
GOOGLE_PROJECT_ID=durable-woods-465411-h8
GOOGLE_PRIVATE_KEY_ID=49dc40d288b920878a990d1330fe29972242e4d8
GOOGLE_CLIENT_EMAIL=wix-lms-sa@durable-woods-465411-h8.iam.gserviceaccount.com
GOOGLE_CLIENT_ID=107245219423620852178


GEMINI_API_KEY=AIzaSyDgloPV5D5UVb8PMEbgPPWeEFbM3AeGtj8

